 .external{
 	border: 2px dashed green;
 	background-color: rgb(60, 179, 113);
 	color:rgb(238, 130, 238);
 	text-align: center;
 	font-size: 50px;
 	font-family: cursive;
 	text-transform: uppercase;
 }